@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 10px;
}

form h1 {
    text-align: center;
    font-size: 30px;
}

form p {
    text-align: center;
    margin: 20px 0;
}

.input-single {
    position: relative;
    margin: 25px 0;
}

.input-single label {
    position: absolute;
    left: 0;
    bottom: 5;
    cursor: text;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 5px;
    outline: none;
}

.input:focus ~ label, .input:valid ~ label {
    transform: translateY(-18px);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.Btn {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.Btn:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
}